:root {
  background-color: #fff;
}
body {
  background-color: #ede6e6;
  margin: 0 auto;
  width: 87vw;
  font-family: arial, helvetica;

}
a {
  text-decoration: none;
  color: #373535;
}
/* Header portion */
header {
  height: 23vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}
li {
  display: inline;
  font-size: 0.9em;
  padding: 10px;
}
header li:first-child {
  border-right: 1px solid #373535;
}
.left {
  width: 29vw;
  order: 2;

}
.middle {
  width: 39vw;
  order: 2;
  text-align: center;
  color: #b46363;
  font-size: 1.5em;
}
.middle p {
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 0;

  text-align: center;
}
.right {
  width: 29vw;
  order: 3;

}
.left ul, .right ul {
  display: flex;
}
/* css for main body */
#main {
  background: url("/home/darshan/Project/MyRecipe/images/images/dishes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}
#main p {
  color: #b46363;
  font-size: 1.5em;
  line-height: 0.2;
}
#main form {
  margin-top: 1em;
}
#email {
  width:220px;
  height: 20px;
  border-radius: 5px;
  padding: 0;
}
#click {
  height: 20px;
  border-radius: 5px;
}
[type="email"] {
  margin-right: 10px;
}
footer li {
  border-right: 1px solid #373535;
}
footer ul {
  text-align: center;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* time to work on middle thingy */
/* flexbox----> here we go */
.cf {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.box img {
  display: block;
  max-width: 100%;
  height: auto;
}
.box {
  position: relative;
}
.box p {
  font-size: 24px;
  position: absolute;
  top: 10px;
  text-align: center;
  left: 5vw;
}
/* time to work on media */
@media (max-width: 300px) {

}
